/*

Violeta #844d9e;
Amarilla #f3a530;
Verde #56B949;

*/

@font-face{
    font-family: OpenSans;
    src: url('fonts/OpenSans-Bold.ttf');
    src: url('fonts/OpenSans-BoldItalic.ttf');
    src: url('fonts/OpenSans-ExtraBold.ttf');
    src: url('fonts/OpenSans-ExtraBoldItalic.ttf');
    src: url('fonts/OpenSans-Italic.ttf');
    src: url('fonts/OpenSans-Light.ttf');
    src: url('fonts/OpenSans-LightItalic.ttf');
    src: url('fonts/OpenSans-Regular.ttf');
    src: url('fonts/OpenSans-SemiBold.ttf');
    src: url('fonts/OpenSans-SemiBoldItalic.ttf');
}

/*NAVBAR*/
.logoNav{
    margin: 20px 0 20px 20px;
}

nav img{
    max-width: 130px;
}

nav{
    height: 73px;
}
.boton{
    transition: 0.5s ease-in-out;
}

.boton:hover{
    color: #56b949!important;
}

/*NAVBAR*/
/*INDEX*/
body{
    background-color: #321a3d;
    font-style: 'OpenSans';
}

.holder{
    max-width: 960px!important;
    margin: 0 auto;
}

.grande{
    border: 3px dashed red;
    width: 100%;
    height: 600px;
    margin-top: 73px;
}
/*INDEX*/
/*logoIntro*/
.logoIntro{
    margin-top: 70px;
    position: relative;
    justify-content: flex;
    width: 100%;
}

#myVideo {
    position: fixed;
    width: 100%;
    max-width: 960px!important;
    z-index: -100;
    margin: 0 auto;
}

.logo{
    width: 100%;
    justify-content: flex;
    align-self: center;
}

.logo img{
    max-width: 300px;
    justify-content: flex;
    align-self: center;
}

/*FIN logoIntro*/
/*NOTICIAS*/
.elementoCarrusel1{
    background-color: red;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}

.textoCarrusel1{
    background-color: rgba(167, 174, 175,0.7);
    width: 30%;
    margin: 70px 70px;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}

.elementoCarrusel2{
    background-color: green;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}

.elementoCarrusel3{
    background-color: blue;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}
/*FIN NOTICIAS*/
/*FOOTER*/
.pieDePagina{
    background-color: #343a40;
    height: 70px;
}
/*FIN FOOTER*/