/*

Violeta #844d9e;
Amarilla #f3a530;
Verde #56B949;

*/

@font-face{
    font-family: OpenSans;
    src: url('fonts/OpenSans-Bold.ttf');
    src: url('fonts/OpenSans-BoldItalic.ttf');
    src: url('fonts/OpenSans-ExtraBold.ttf');
    src: url('fonts/OpenSans-ExtraBoldItalic.ttf');
    src: url('fonts/OpenSans-Italic.ttf');
    src: url('fonts/OpenSans-Light.ttf');
    src: url('fonts/OpenSans-LightItalic.ttf');
    src: url('fonts/OpenSans-Regular.ttf');
    src: url('fonts/OpenSans-SemiBold.ttf');
    src: url('fonts/OpenSans-SemiBoldItalic.ttf');
}

/*NAVBAR*/
.logoNav{
    margin: 20px 0 20px 20px;
    max-width: 100px;
    margin-top: 10px;
    margin-left: 30px;
}

nav{
    height: 44px;
}
.boton{
    transition: 0.5s ease-in-out;
}

.boton:hover{
    color: #56b949!important;
}

/*NAVBAR*/
/*INDEX*/
body{
    background-color: #321a3d;
    font-style: 'OpenSans';
}

.holder{
    max-width: 960px!important;
    margin: 0 auto;
}

.grande{
    border: 3px dashed red;
    width: 100%;
    height: 600px;
    /*margin-top: 44px;*/
}
/*INDEX*/
/*logoIntro*/
.logoIntro{
    display: block;
    /*margin-top: 70px;*/
    position: relative;
    justify-content: flex;
    width: 100%;
}

.intro{
    display: flex;
    align-items: center;
    width: 100%;
}

#intro{
    position: fixed;
    width: 100%;
    max-width: 960px!important;
    z-index: -100;
    display: block;
    opacity: 0.4; 
    margin: 0 auto;
}

.background{
    top:-100px;
    overflow: hidden;
}

.logo{
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.logo img{
    margin: 150PX auto 100px auto;
    display: block;
    max-width: 400px;
    border-radius: 40%;
}

/*FIN logoIntro*/
/*NOTICIAS*/
.elementoCarrusel1{
    background: url('../img/carrusel1.jpg');
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}

.textoCarrusel1{
    background-color: rgba(167, 174, 175,0.7);
    width: 30%;
    margin: 95px 70px 45px 70px;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}

.elementoCarrusel2{
    background: url('../img/carrusel2.jpg');
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}

.elementoCarrusel3{
    background: url('../img/carrusel3.jpg');
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}
/*FIN NOTICIAS*/
/*QUIENES SOMOS*/
.sectionComun{
    color: #844d9e;
    background-color: white;
    padding: 80px 0 80px 0;
    max-width: 960;
    text-align: justify;
    margin:0;
}

/*QUIENES SOMOS FIN*/
/*OBRAS*/
.obra1{
    background-color: #844d9e;
    overflow: hidden;
}
.obra1 img{
    filter: opacity(65%);
    transition: all 1s ease;
}

.obra1:hover img{
    filter: opacity(100%);
    transform: scale(1.1);
}

.obra2{
    background-color:white;
    overflow: hidden;
}

.obra2 img{
    filter: opacity(50%);
    transition: all 1s ease;
}

.obra2:hover img{
    filter: opacity(100%);
    transform: scale(1.1);
}
/*OBRAS FIN*/
/*HECHO A MEDIDA*/
.taylormade{
    background-color: white;
    padding-top: 100px;
}
.taylor{
    overflow: hidden;
}

.taylor img{
    transition: all 1s ease;
}

.taylor:hover img{
    transform: scale(1.2);
}

.taylorText{
    color: #844d9e;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 35px;
    overflow: hidden;
    text-align: center;
}
/*HECHO A MEDIDA FIN*/
/*FOOTER*/
.pieDePagina{
    background-color: #343a40;
    height: 70px;
}
/*FIN FOOTER*/